
#initially-hidden{
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.button4 {
  background-color: #0088cc;
}
       {
  background-color: #66b3ff;
}

.button4 {
  document.body.style.backgroundColor = "red";

}
